<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品登録</title>
</head>
<body>

<h2>商品登録</h2>
<h3>商品情報入力</h3>
<form id="itemForm" method="post" th:action="@{/item/register/confirm}" th:object="${itemRegisterForm}">
    <fieldset id="item_field">
        <div th:text="${errorMessage}">
        </div>
        <div>
            <label for="name">商品名</label><br/>
            <input id="name" type="text" maxlength="45" th:field="*{name}" name="name" required placeholder="商品名を入力してください"/>
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error!</span>
        </div>
        <div>
            <label for="price">値段</label><br/>
            <input id="price" type="text" maxlength="10" th:field="*{price}" name="price" required placeholder="値段を入力してください"/>
            <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">error!</span>
        </div>
        <div>
            <input type="submit" value="確認画面へ"/>
        </div>
    </fieldset>
</form>

</body>
</html>