<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ユーザー登録</title>
</head>
<body>

<h2>ユーザー登録</h2>
<h3>ユーザー情報入力</h3>
<form id="userForm" method="post" th:action="@{/user/register/confirm}" th:object="${userRegisterForm}">
    <fieldset id="user_field">
        <div>
        <label for="name">姓</label><br/>
        <input id="name" type="text" maxlength="45" th:field="*{fmailyName}" name="name" required placeholder="姓を入力してください"/>
        </div>
        <div>
        <label for="name">名</label><br/>
        <input id="name" type="text" maxlength="45" th:field="*{givenName}" name="name" required placeholder="名を入力してください"/>
        </div>
        <div>
            <input type="submit" value="確認画面へ"/>
        </div>
    </fieldset>
</form>

</body>
</html>